header {
  background-color: #333333;
  color: #EEEEEE;
  text-align: center;
}

h1 {
    font-weight: 500;
    padding: 10px;
}

body {
  background: #EFEEE7;
  color: #333333;
}

section a {
  color: #EE415A;
}
.p-bio {
  display: inline-block;
  padding: 5px;
  text-align: center;
}

.img-bio {
  float: left;
  padding: 5px;
}

.about {
  float: left;
  width: 60%;
}
.contact {
    float: left;
    width: 40%;
    display: inline;

}
